:root {
    --background-colour: #E5E5E5;
    --Title-colur: #262626;
    --navbar-background-colur: #F4F3EE;
    --primary-text-colour: #8D8D8D;
    --nav-active-colour: #C32C72;
    --page-heading-colour: #463F3A;
    --box-main-colour: #F4F3EE;
    --box-1-colour:#FFFFFF;
}
